.walls-page{
    height:2698.5vh;
    width:100%;
    background-color: black;
    padding-top:245px;
}
.hero-section{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    width:100%;
    height:1500px;
}
.walls-page .div2{
    height: 1050px;
    width: 100%;
    background: url("../Assets/Rectangle5.png"), lightgray 50% / contain no-repeat;
    backdrop-filter: blur(150px);
} 

.hero-section div:first-child{
    display: flex;
    width: 1240px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}
.hero-section div:first-child .heading{
    display: flex;
    width: 1240px;
    justify-content: space-between;
    align-items: center;
}
.hero-section div:first-child .heading h1{
    color: var(--white, #FFF);
    font-feature-settings: 'calt' off;
    font-family: Akira-expanded ,sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 4.8px;
}
.hero-section div:first-child .heading img{
font-feature-settings: 'calt' off;
font-family: Akira-expanded,sans-serif;
height:60px;
font-style: normal;
font-weight: 800;
line-height: normal;
letter-spacing: 9.6px;
position:absolute;
top:345px;
right:100px;
}
.hero-section div:first-child div:last-child p{
    color: rgba(255, 255, 255, 0.70);
font-feature-settings: 'calt' off;
font-family: Poppins;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: 160%; 
letter-spacing: 0.32px;
width: 919px;
margin-top:16px;
}

.userpt-frame{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    padding-left:90px;
}
.userpt-frame .heading{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 23px;
}
.userpt-frame .heading div:first-child h1{
    color: var(--white, #FFF);
    font-feature-settings: 'calt' off;
    font-family: Akira-expanded,sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 2.5px;
}
.userpt-frame .heading div:first-child div:last-child p{
    color: rgba(255, 255, 255, 0.70);
font-feature-settings: 'calt' off;
font-family: Poppins;
font-size: 32px;
margin-top:75px;
font-style: normal;
font-weight: 400;
line-height: 160%; 
letter-spacing: 0.32px;
width:1234px;
}
.userframe-img{
    width:100%;
    padding-left:100px;
}
.walls-page .solution-part{
    width: 100%;
    height: 6200px;
    background: #1E1E1E;
}
.solution-part div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 23px;
    padding-left:90px;
    padding-top:96px;
}
.solution-part div h1{
    color: var(--white, #FFF);
    font-feature-settings: 'calt' off;
    font-family: Akira-expanded , sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 2.5px;
}
.solution-part div p{
    color: rgba(255, 255, 255, 0.70);
    font-feature-settings: 'calt' off;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 51.2px */
    letter-spacing: 0.32px;
    width:85%;
    margin-top:-40px;
}

@media screen and (max-width:1080px){
    .walls-page{
        width:145%;
    }
    .userframe-img{
        margin-bottom:0px;
    }
    .walls-page .hero-section div:first-child .heading img{
        position: relative;
        top:-160px;
        left:520px;
    }
    .hero-section{
        height:1600px;
    }
    .walls-page{
        height:1090vh;
    }
    .hero-section div:first-child div:last-child{
        margin-top:-110px;
    }
}
